<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ming-Hsien Tsai</string>
	<key>Builder Version</key>
	<string>14606.3.4</string>
	<key>CFBundleDisplayName</key>
	<string>DQMSL Search Translation</string>
	<key>CFBundleIdentifier</key>
	<string>tw.idv.mht.dqmsl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2018.12.28.0</string>
	<key>CFBundleVersion</key>
	<string>2018.12.28.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>dqmsl.min.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-2.2.0.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Translate names in DQMSL Search (http://dqmsl-search.net) to Chinese</string>
	<key>DeveloperIdentifier</key>
	<string>YJU9R8FU24</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>dqmsl-search.net</string>
				<string>dqmsl.jpn.org</string>
				<string>dqmsl.gamedbs.jp</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/mht208/dqmsl-search-translation</string>
</dict>
</plist>
